In [1]:
import pickle
import pandas as pd
import math
from utils import *

config = load_config()

In [2]:
# PROJECT_PATH = config.project_path
PROJECT_PATH = config.file_path
DATA_PATH = PROJECT_PATH.joinpath("data/processed")

def load_data( name ) :
    with open(DATA_PATH.joinpath(name), 'rb') as f :
        data = pickle.load(f)
    return data

In [3]:
def print_results(df) :
    df = df.drop(columns = ['cv', 'topN']).copy()
    df = df.groupby(['model', 'shots']).agg({
                                        'f1': lambda x : "{mean:.3f} ({hi:.3f}/{lo:.3f})".format(mean = x.mean(), hi=x.mean() + 1.96*x.std()/math.sqrt(5),lo=x.mean() - 1.96*x.std()/math.sqrt(5)),
                                        'precision':lambda x : "{mean:.3f} ({hi:.3f}/{lo:.3f})".format(mean = x.mean(), hi=x.mean() + 1.96*x.std()/math.sqrt(5),lo=x.mean() - 1.96*x.std()/math.sqrt(5)),
                                        'recall': lambda x : "{mean:.3f} ({hi:.3f}/{lo:.3f})".format(mean = x.mean(), hi=x.mean() + 1.96*x.std()/math.sqrt(5),lo=x.mean() - 1.96*x.std()/math.sqrt(5)),
                                        'mrr': lambda x : "{mean:.3f} ({hi:.3f}/{lo:.3f})".format(mean = x.mean(), hi=x.mean() + 1.96*x.std()/math.sqrt(5),lo=x.mean() - 1.96*x.std()/math.sqrt(5)),
                                        })
    return df.sort_values(by=['model','shots'], ascending=False)

In [4]:
def show_results(topn, model_names : list) :
    eval_results = []
    for model_name in model_names :
        eval_results.append(load_data(f"{topn}_{model_name}_zeroshot_evaluation.pkl"))
        eval_results.append(load_data(f"{topn}_{model_name}_fewshot_evaluation.pkl"))
    results = []
    for evaluation in eval_results :
        for record in evaluation :
            results.append(record)
    myResults = pd.DataFrame(results)
    return print_results(myResults)

In [18]:
show_results("top3", ["mistral7b", "biomistral7b_avigon"])

                                               f1            precision
model               shots
mistral7b           zeroshot  0.252 (0.262/0.243)  0.216 (0.223/0.210)  \
                    fewshot   0.359 (0.370/0.348)  0.351 (0.360/0.342)
biomistral7b_avigon zeroshot  0.245 (0.257/0.233)  0.538 (0.551/0.526)
                    fewshot   0.290 (0.305/0.275)  0.683 (0.704/0.662)

                                           recall                  mrr
model               shots
mistral7b           zeroshot  0.303 (0.318/0.288)  0.572 (0.607/0.538)
                    fewshot   0.367 (0.382/0.353)  0.669 (0.688/0.649)
biomistral7b_avigon zeroshot  0.159 (0.168/0.149)  0.452 (0.461/0.443)
                    fewshot   0.184 (0.196/0.173)  0.490 (0.520/0.461)

In [19]:
# top 5
show_results("top5", ["mistral7b", "biomistral7b_avigon"])

                                               f1            precision
model               shots
mistral7b           zeroshot  0.335 (0.351/0.320)  0.390 (0.407/0.372)  \
                    fewshot   0.357 (0.366/0.349)  0.456 (0.466/0.446)
biomistral7b_avigon zeroshot  0.116 (0.125/0.106)  0.296 (0.325/0.266)
                    fewshot   0.205 (0.211/0.199)  0.645 (0.666/0.623)

                                           recall                  mrr
model               shots
mistral7b           zeroshot  0.294 (0.309/0.280)  0.573 (0.604/0.542)
                    fewshot   0.294 (0.303/0.284)  0.601 (0.637/0.566)
biomistral7b_avigon zeroshot  0.072 (0.078/0.066)  0.212 (0.235/0.188)
                    fewshot   0.122 (0.126/0.118)  0.500 (0.526/0.474)

In [6]:
# top 10
show_results("top10", ["mistral7b", "biomistral7b_avigon_finetuned"])

                                                         f1
model                         shots
mistral7b                     zeroshot  0.381 (0.390/0.372)  \
                              fewshot   0.400 (0.408/0.392)
biomistral7b_avigon_finetuned zeroshot  0.362 (0.381/0.344)
                              fewshot   0.296 (0.327/0.265)

                                                  precision
model                         shots
mistral7b                     zeroshot  0.356 (0.362/0.349)  \
                              fewshot   0.393 (0.404/0.381)
biomistral7b_avigon_finetuned zeroshot  0.337 (0.357/0.318)
                              fewshot   0.287 (0.323/0.252)

                                                     recall
model                         shots
mistral7b                     zeroshot  0.410 (0.426/0.395)  \
                              fewshot   0.408 (0.414/0.401)
biomistral7b_avigon_finetuned zeroshot  0.395 (0.431/0.358)
                              fewshot   0.309 (0.348/0.269)

                                                        mrr
model                         shots
mistral7b                     zeroshot  0.541 (0.569/0.512)
                              fewshot   0.571 (0.604/0.539)
biomistral7b_avigon_finetuned zeroshot  0.601 (0.644/0.558)
                              fewshot   0.506 (0.562/0.450)

In [8]:
# top10

mistral7b_finetuned_zeroshot = load_data("top10_mistral7b_finetuned_zeroshot_evaluation.pkl")
mistral7b_finetuned_fewshot = load_data("top10_mistral7b_finetuned_fewshot_evaluation.pkl")
# biomistral7b_finetuned_zeroshot = load_data("top10_biomistral7b_avigon_zeroshot_evaluation.pkl")
# biomistral7b_finetuned_fewshot = load_data("top10_biomistral7b_avigon_fewshot_evaluation.pkl")
biomistral7b_avigon_finetuned_zeroshot = load_data("top10_biomistral7b_finetuned_zeroshot_evaluation.pkl")
biomistral7b_avigon_finetuned_fewshot = load_data("top10_biomistral7b_finetuned_fewshot_evaluation.pkl")

evaluation_results = [ mistral7b_finetuned_zeroshot, mistral7b_finetuned_fewshot,
                      # biomistral7b_finetuned_zeroshot, biomistral7b_finetuned_fewshot]
                      biomistral7b_avigon_finetuned_zeroshot, biomistral7b_avigon_finetuned_fewshot]

# mistral7b_finetuned_zeroshot = load_data("top5_mistral7b_modified_zeroshot_evaluation.pkl")
# mistral7b_finetuned_fewshot = load_data("top5_mistral7b_modified_fewshot_evaluation.pkl")
# biomistral7b_finetuned_zeroshot = load_data("top5_biomistral7b_avigon_modified_zeroshot_evaluation.pkl")
# biomistral7b_finetuned_fewshot = load_data("top5_biomistral7b_avigon_modified_fewshot_evaluation.pkl")
# biomistral7b_avigon_finetuned_zeroshot = load_data("top5_biomistral7b_finetuned_zeroshot_evaluation.pkl")
# biomistral7b_avigon_finetuned_fewshot = load_data("top5_biomistral7b_finetuned_fewshot_evaluation.pkl")

# evaluation_results = [mistral7b_finetuned_zeroshot, mistral7b_finetuned_fewshot,
#                       biomistral7b_finetuned_zeroshot, biomistral7b_finetuned_fewshot,]
                      # biomistral7b_avigon_finetuned_zeroshot, biomistral7b_avigon_finetuned_fewshot]
results = []
for evaluation in evaluation_results :
    for record in evaluation :
        results.append(record)

myResults = pd.DataFrame(results)

In [9]:
t = print_results(myResults)
t

                                                  f1            precision
model                  shots
mistral7b_finetuned    zeroshot  0.368 (0.392/0.343)  0.342 (0.378/0.306)  \
                       fewshot   0.386 (0.399/0.374)  0.335 (0.343/0.327)
biomistral7b_finetuned zeroshot  0.333 (0.354/0.311)  0.320 (0.333/0.306)
                       fewshot   0.280 (0.318/0.242)  0.313 (0.358/0.268)

                                              recall                  mrr
model                  shots
mistral7b_finetuned    zeroshot  0.403 (0.436/0.370)  0.576 (0.591/0.561)
                       fewshot   0.458 (0.492/0.424)  0.680 (0.701/0.658)
biomistral7b_finetuned zeroshot  0.349 (0.385/0.312)  0.589 (0.620/0.557)
                       fewshot   0.257 (0.301/0.213)  0.435 (0.499/0.372)

These are just left for insurance. I may need them someday

In [13]:
import math
stats = myResults.groupby(['model','shots'])[['precision', 'recall', 'f1', 'mrr']].agg(['mean', 'count', 'std'])

for score in ['precision','recall', 'f1', 'mrr'] : 
    ci95_hi = []
    ci95_lo = []
    for i in stats.index:
        m, c, s = stats.loc[i][score]
        ci95_hi.append(m + 1.96*s/math.sqrt(c))
        ci95_lo.append(m - 1.96*s/math.sqrt(c))

    # stats[score]['ci95_hi'] = ci95_hi
    # stats[score]['ci95_lo'] = ci95_lo
    stats.loc[:,(score,'ci95_hi')] = ci95_hi
    stats.loc[:,(score,'ci95_lo')] = ci95_lo

In [10]:
# precision
stats['precision']

                                      mean  count       std   ci95_hi
model                     shots
mistral7b_mimic_finetuned fewshot   0.1376      5  0.002074  0.139418  \
                          zeroshot  0.1440      5  0.005568  0.148880

                                     ci95_lo
model                     shots
mistral7b_mimic_finetuned fewshot   0.135782
                          zeroshot  0.139120

In [11]:
# recall
stats['recall']

                                      mean  count       std   ci95_hi
model                     shots
mistral7b_mimic_finetuned fewshot   0.1426      5  0.006693  0.148467  \
                          zeroshot  0.1424      5  0.004775  0.146585

                                     ci95_lo
model                     shots
mistral7b_mimic_finetuned fewshot   0.136733
                          zeroshot  0.138215

In [12]:
# f1
stats['f1']

                                      mean  count       std   ci95_hi
model                     shots
mistral7b_mimic_finetuned fewshot   0.1398      5  0.004087  0.143382  \
                          zeroshot  0.1432      5  0.004712  0.147330

                                     ci95_lo
model                     shots
mistral7b_mimic_finetuned fewshot   0.136218
                          zeroshot  0.139070

In [13]:
# mrr
stats['mrr']

                                      mean  count       std   ci95_hi
model                     shots
mistral7b_mimic_finetuned fewshot   0.1822      5  0.017754  0.197762  \
                          zeroshot  0.0918      5  0.011692  0.102048

                                     ci95_lo
model                     shots
mistral7b_mimic_finetuned fewshot   0.166638
                          zeroshot  0.081552